<!DOCTYPE html>
{% extends 'base.html' %}
{% block body_block %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Page title</title>
</head>
<body>
    {%if poller %}
    <h2>{{poller.question_text}}</h2>
    {% for i in choice%}
    
    
        <li>{{i.choice_text}}</li>
    
    {%endfor%}
    <button type="button" class="btn btn-outline-primary"><a href="{%url 'polls:vote' question_id=poller.id %}">Vote Now</a></button>
    <button type="button" class="btn btn-outline-primary"><a href="{%url 'polls:Polls' %}">Choose Another Question</a></button>
     {%endif%}
</body>
</html>
{% endblock%}